{% extends "Layouts/base.html" %}

{% load static %}
{% block container %}





    <!-- BEGIN SLIDER -->
    <div class="page-slider margin-bottom-35">
        <div id="carousel-example-generic" class="carousel slide carousel-slider">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <!-- First slide -->
                <div class="item carousel-item-four active">
                    <div class="container">
                        <div class="carousel-position-four text-center">
                            <h2 class="margin-bottom-20 animate-delay carousel-title-v3 border-bottom-title text-uppercase" data-animation="animated fadeInDown">
                                Faite vos choix <br/><span class="color-red-v2">La Boutique en Ligne</span><br/> actuel
                            </h2>
                            <p class="carousel-subtitle-v2" data-animation="animated fadeInUp">Lorem ipsum dolor sit amet constectetuer diam <br/>
                            adipiscing elit euismod ut laoreet dolore.</p>
                        </div>
                    </div>
                </div>
                
                <!-- Second slide -->
                <div class="item carousel-item-five">
                    <div class="container">
                        <div class="carousel-position-four text-center">
                            <h2 class="animate-delay carousel-title-v4" data-animation="animated fadeInDown">
                                Unlimted
                            </h2>
                            <p class="carousel-subtitle-v2" data-animation="animated fadeInDown">
                                Layout Options
                            </p>
                            <p class="carousel-subtitle-v3 margin-bottom-30" data-animation="animated fadeInUp">
                                Fully Responsive
                            </p>
                            <a class="carousel-btn" href="#" data-animation="animated fadeInUp">See More Details</a>
                        </div>
                        <img class="carousel-position-five animate-delay hidden-sm hidden-xs" src="assets/pages/img/shop-slider/slide2/price.png" alt="Price" data-animation="animated zoomIn">
                    </div>
                </div>

                <!-- Third slide -->
                <div class="item carousel-item-six">
                    <div class="container">
                        <div class="carousel-position-four text-center">
                            <span class="carousel-subtitle-v3 margin-bottom-15" data-animation="animated fadeInDown">
                                Full Admin &amp; Frontend
                            </span>
                            <p class="carousel-subtitle-v4" data-animation="animated fadeInDown">
                                eCommerce UI
                            </p>
                            <p class="carousel-subtitle-v3" data-animation="animated fadeInDown">
                                Is Ready For Your Project
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Fourth slide -->
                <div class="item carousel-item-seven">
                   <div class="center-block">
                        <div class="center-block-wrap">
                            <div class="center-block-body">
                                <h2 class="carousel-title-v1 margin-bottom-20" data-animation="animated fadeInDown">
                                    The most <br/>
                                    wanted bijouterie
                                </h2>
                                <a class="carousel-btn" href="#" data-animation="animated fadeInUp">But It Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- END SLIDER -->





    <div class="main">
        <div class="container">
          <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
          <div class="row margin-bottom-40">
            <!-- BEGIN SALE PRODUCT -->
            <div class="col-md-12 sale-product text-center">
              <h2><b>Ensemble Produits</b></h2>
              <p>Total de produits : {{ prod|length }}</p>

              <br><br>
              <div class="row featured__filter">
                {% for entana in prod %}
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="product-item wishlist-item p-2">
                        <div class="pi-img-wrapper">
                            <img src="{{ entana.image.url }}" class="img-responsive" alt="{{ entana.titre }}">
                            <div>
                                <a href="{% url 'detail' entana.id %}" class="btn btn-default fancybox-fast-view">View</a>
                            </div>
                        </div>
                        <h3><a href="{% url 'detail' entana.id %}">{{ entana.titre }}</a></h3>
                        <div class="pi-price">{{ entana.price }} $</div>
                        <div><s>{{ entana.old_price }} $</s></div>
                        {% if request.session.client %}
                        <a style="border: none;color: gray;" data-wish-name="{{ entana.titre }}" id="wishlist-{{ entana.id }}" class="btn btn-default add-to-wishlist">
                            <i class="fa fa-heart"></i>
                        </a>
                        <a id="panier-{{ entana.id }}" class="ted btn btn-default add2cart" data-product-name="{{ entana.titre }}" data-product-price="{{ entana.price }}">Ajouter au panier</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

                <br><br><br>

            
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40 ">
                <!-- BEGIN SIDEBAR -->
                <div class="sidebar col-md-3 col-sm-4">

                    <h5 style="text-align: left;"><b>recherche par prix</b> </h5>
                <form method="get" class="mb-4">
                    {% csrf_token %}
                    {{ form.min_price }}
                    <div class="form-group" style="text-align: left;">
                        <label for="range"></label>
                        <input type="range" name="range" value="{{ min_max_price.price__min|floatformat:2 }}" class="slider-range" id="range" min="{{ min_max_price.price__min }}" max="{{ min_max_price.price__max }}" oninput="max_price.value=this.value"  style="border:0; color:#f6931f; font-weight:bold;">
                        {{ form.max_price }}
                    </div>
                    
                    <button type="submit" class="btn btn-success" style="left: 0; width: 100%; ">Filtrer</button>
                </form>
                </br>

                <h5  style="text-align: left;"> <b>tous les catégories</b></h5>
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    {% for cat in categories %}
                    <li class="list-group-item clearfix dropdown">
                        <a href="{% url 'category_list' cat.cid %}">
                            <i class="fa fa-angle-right"></i>
                            {{ cat.title }}
                        </a>
                    {% if category.products.all %}
                    <ul class="dropdown-menu">
                        {% for product in category.products.all %}
                        <li class="list-group-item clearfix">
                            <i class="fa fa-angle-right">{{ product.titre }}</i>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    </li>
                    {% endfor %}

                </ul>
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="col-md-9 col-sm-8">
                <h2><b>Trois nouveau articles</b></h2><br>
                <div class="owl-carousel owl-carousel3">
                    {% for product in latest_products %}
                    <div  class="latest-products">
                    <div class="product-item wishlist-item product">
                        <div class="pi-img-wrapper">
                        <img src="{{ product.image.url }}" class="img-responsive" alt="{{ product.titre }}">
                        <div>
                            <a href="{% url 'detail' product.id %}" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                        </div>
                        <h3><a href="shop-item.html"> {{ product.titre }} </a></h3>
                        <div class="pi-price"> {{ product.price }} </div>
                        <div><s>{{ product.old_price }} $</s></div>
                        {% if request.session.client %}
                        <a id="panier-{{ product.id }}" class="ted btn btn-default add2cart" data-product-name="{{ product.titre }}" data-product-price="{{ product.price }}">Ajouter au panier</a>
                        {% endif %}
                        <div class="sticker sticker-new"></div>
                    </div>
                </div>
                {% endfor %}
                    
                </div>
                </div>
                <!-- END CONTENT -->
            </div>
          <!-- END SIDEBAR & CONTENT -->
            <!-- BEGIN TWO PRODUCTS & PROMO -->
        <div class="row margin-bottom-35 ">
            <!-- BEGIN TWO PRODUCTS -->
        <div class="col-md-6 two-items-bottom-items">
        
            <h2>Veuillez visiter nos vendeurs !</h2>
        
            <p style="text-align: justify; padding: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo totam quas cupiditate natus ipsa hic possimus cumque quisquam nobis a. Consectetur blanditiis suscipit, voluptatibus itaque delectus ea facilis ab eaque, recusandae vero eos, provident fugiat. Corrupti veniam excepturi dignissimos quibusdam? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti exercitationem error molestias, non soluta corporis ducimus dolore veritatis facilis inventore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quasi beatae necessitatibus atque corrupti voluptatum unde at consequatur aspernatur veritatis.</p>
        </div>
        <!-- END TWO PRODUCTS -->
  
            <!-- BEGIN PROMO -->
            <div class="col-md-6 shop-index-carousel">
              <div class="content-slider">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    {% for vendor in vendors %}
                        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                    {% endfor %}
                 </ol>
                 <div class="carousel-inner">
                    {% for vendor in vendors %}
                        <div class="item {% if forloop.first %}active{% endif %}">
                            <img src="{{ vendor.image.url }}" class="img-responsive" alt="{{ vendor.title }}">
                            <div class="carousel-caption">
                                <h3>{{ vendor.title }}</h3>
                                <p>{{ vendor.description }}</p>
                                <a href="{% url 'vendor_detail' vendor.id %}" class="btn btn-default">Voir Vendeur</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Controls -->
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
              </div>
            </div>
            <!-- END PROMO -->
          </div>        
          <!-- END TWO PRODUCTS & PROMO -->
        </div>
      </div>
            

          </div>
        </div>
    </div>


<!-- BARRE DE RECHERCHE -->


<div id="topcontrol" title="Scoll Back to Top" style="position: fixed; bottom: 10px;">

</div>


{% endblock container %}

{% block js %}
<script type="text/javascript">
// Initialiser le panier à partir du localStorage
let panier = localStorage.getItem('panier') ? JSON.parse(localStorage.getItem('panier')) : {};


// Initialiser la wishlist à partir du localStorage
let wishlist = localStorage.getItem('wishlist') ? JSON.parse(localStorage.getItem('wishlist')) : {};

// Fonction pour mettre à jour la liste des produits dans le panier
function updateProductList() {
    const productList = document.getElementById('product-list');
    if (productList) {
        productList.innerHTML = ''; // Vider la liste existante

        for (let item_id in panier) {
            const product = panier[item_id];
            const productNam = product.name;
            const quantity = product.quantity;
            const listItem = document.createElement('li');
            listItem.className = 'product-item'; // Ajouter la classe CSS
            listItem.textContent = `${productNam}: ${quantity}`;
            productList.appendChild(listItem);
        }
    }
}

// Mettre à jour la liste des produits lors du chargement initial
updateProductList();

// Fonction pour mettre à jour la liste des produits dans le wishlist
function updateWishlist() {
    const wishlistElement = document.getElementById('product-list-favorite');
    if (wishlistElement) {
        wishlistElement.innerHTML = ''; // Vider la liste existante

        for (let wish_id in wishlist) {
            const product = wishlist[wish_id];
            const productName = product.name;
            const listItem = document.createElement('li');
            listItem.className = 'wishlist-item'; // Ajouter la classe CSS
            listItem.textContent = `${productName}`;
            wishlistElement.appendChild(listItem);
        }
    }
}

// Mettre à jour la liste des produits dans la wishlist lors du chargement initial
updateWishlist();




// Gestion du clic sur le bouton "Ajouter au panier"
$(document).on('click', '.ted', function(){
    console.log('ajouter');
    var item_id = this.id.split('-')[1].toString();
    console.log(item_id);
    let productNom = this.getAttribute('data-product-name');
    let productPrix = parseFloat(this.getAttribute('data-product-price'));

    if (panier[item_id] != undefined) {
        panier[item_id].quantity += 1;
    } else {
        panier[item_id] = {
            name: productNom,
            quantity: 1,
            price: productPrix
        };
    }
    console.log(panier);
    localStorage.setItem('panier', JSON.stringify(panier));
    document.getElementById("panier").innerHTML = Object.keys(panier).length;

        // Mettre à jour la liste des produits dans le panier
        updateProductList();
    });



// Gestion du clic sur le bouton "Ajouter à la wishlist"
$(document).on('click', '.add-to-wishlist', function(){
    console.log('ajouter à la wishlist');
    var wish_id = this.id.split('-')[1].toString();
    console.log(wish_id);
    let productName = this.getAttribute('data-wish-name');
    let productPrice = parseFloat(this.getAttribute('data-wish-price'));
    let productPic = this.getAttribute('data-wish-picture'); // Extraire l'URL de l'image

    // Trouver l'icône dans le bouton cliqué
    var icon = $(this).find('i')[0];

    // Changer la couleur de l'icône en rouge ou en couleur normale
    if (icon.style.color === 'red') {
        icon.style.color = ''; // Réinitialiser la couleur si elle est déjà rouge
        delete wishlist[wish_id]; // Supprimer du wishlist si déjà présent
    } else {
        icon.style.color = 'red'; // Changer la couleur en rouge
        wishlist[wish_id] = {
            name: productName,
            price: productPrice,
            picture: productPic
        };
    }

    console.log(wishlist);
    localStorage.setItem('wishlist', JSON.stringify(wishlist));
    // document.getElementById("wishlist").innerHTML = Object.keys(wishlist).length;

    // Mettre à jour la liste des produits dans la wishlist
    updateWishlist();
});






// Redirection vers panier.html lorsque l'utilisateur clique sur le bouton voir panier
document.addEventListener('DOMContentLoaded', function() {
    const panierElement = document.getElementById('panier');
    if (panierElement) {
        panierElement.addEventListener('click', function() {
            window.location.href = 'panier.html';
        });
    } else {
        console.error("L'élément avec l'ID 'panier' n'a pas été trouvé.");
    }
});


document.addEventListener('DOMContentLoaded', function() {
    const wishlistElement = document.getElementById('wishlist');
    if (wishlistElement) {
        wishlistElement.addEventListener('click', function(event) {
            event.preventDefault(); // Prévenir le comportement par défaut du lien
            window.location.href = 'wishlist.html'; // Redirection vers l'URL de la wishlist
        });
    } else {
        console.error("L'élément avec l'ID 'wishlist' n'a pas été trouvé.");
    }
});


document.getElementById('range').addEventListener('input', function() {
document.getElementById('max_price').value = this.value;
});

document.getElementById('max_price').addEventListener('input', function() {
document.getElementById('range').value = this.value;
});



    </script>
{% endblock %}