{% extends "Layouts/base.html" %}

{% load static %}
{% block container %}




<link rel="stylesheet" href="{% static 'main/home.css' %}" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1>Your Wishlist</h1>
{% if wishlist %}
    <section class="cards">
        {% for product in wishlist %}
        <div class="card">
            <div class="top">
                <div class="label1">{{ product.titre }}</div>
                <a href="{% url 'main:add_to_wishlist' %}" class="like" id="{{ product.id }}" data-product-name="{{ product.titre }}">
                    <i class="fa fa-heart heart"></i>
                </a>
            </div>
            <div class="middle">
                <a href="https://google.com" id="link" target="_blank">
                    <div class="img-container"><img src="{{ product.image.url }}"></div>
                </a>
            </div>
            <a href="https://google.com" id="link" target="_blank">
                <div class="bottom">
                    <div class="label4">{{ product.description }}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </section>
{% else %}
    <p>Your Wishlist is empty.</p>
{% endif %}




{% endblock container %}
